<div class="product-info"> 
  <a routerLink="/home">Back</a>
  <div class="row" >
    <div  class="col-30" *ngFor="let item of data">
      <div class="heading">{{item.type}}</div>
      <div class="product">
        <p>Brand: {{item.brand}}</p>
        <p>Model: {{item.Model}}</p>
        <p>Price: {{item.price}}</p>
      </div>

        <!-- <ul>
          <li>{{item.brand}}</li>
          <li>{{item.Model}}</li>
          <li>{{item.price}}</li>
        </ul> -->
          

      <button>Add to cart</button>
    </div>
   
  </div>

</div>
