.row{
    width: 100%;
    border:1px solid #ccc;
    height: auto;
    margin:50px 0 0 0;
    height: 300px;

}
.col-30{
    width: 100px;
    border:1px solid #ccc;
    height:100px;
    margin: 10px 0 0 10px;
    display: inline-table;
    background-color: #cccc;

}
.heading{
    font-weight: 600;
    color: #ffff;
    text-align: center;
    background: #596738cf;
}
button{
    cursor: pointer;
    color: #1118e0e6;
    font-size: 12px;
    margin: 1px 0 4px 10px;
}