.row{
    width: 100%;
    border:1px solid #ccc;
    height: auto;
    margin:50px 0 0 0;
    height: 300px;

}
.col-30{
    width: 100px;
    border:1px solid #ccc;
    height:100px;
    margin: 10px 0 0 10px;
    display: inline-table;

}
.heading{
    font-weight: 600;
    color:rgb(71, 11, 211);
}