<div class="header">
  <!-- <div class="header-right">
    <a (click)="getProductByCatgory();">Search by Category</a>
  </div> -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Online Shopping Portal</a>
      </div>
      <ul class="nav navbar-nav ">
        <li class="active"><a (click)="getProductByCatgory();">Search by Category</a></li>
        <li><a routerLink="/calculator">Calculator</a></li>
        
      </ul>
    </div>
  </nav>
</div>

<div class="content" *ngIf="searchedByClicked"> 
   
  <ul>
    <!-- <li *ngFor="let productCat of productCategory">
    <a  routerLink="/products/{{productCat.id}}" >{{productCat.name}} </a>
   </li> -->
   <li *ngFor="let productCat of productCategory"> 
      <a routerLink="/product-info/{{productCat.id}}">{{productCat.name}} </a> </li>
  </ul>

</div>


